@font-face {
    font-family: 'siyuan';
    src: url('./siyuan.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: red;
    font-family: 'siyuan';
}
body {
    background-color: #eeeeee;
}
.qrcode-bg {
    /* background-image: url(); */
}